:root{

	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 55%);
	--very-dark-gray: hsl(0, 0%, 41%);
	--font-a: 'Alata', sans-serif;
	--font-j:'Josefin Sans', sans-serif;
}

/* Header e Menu */

header{
	background: url(../images/mobile/image-hero.jpg);
	background-size: 100vw;
	height: 120vh;
	
}

#header {
    
    color: var(--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    
}

.header_logo {
    margin: 2rem;
    width: 40vw;

}

#nav {
    text-align: center;

}

#menu{

    display: block;
    position: absolute;
    width: 100vw;
    right: 0;
    visibility: hidden;
    overflow-y: hidden;
    background-color: var(--black);

}

#menu a {
    display: block;
    margin-right: 15rem;
    margin-top: 2rem;
    font-size: 20px;
    color: var(--white);
    font-family: var(--font-j);
   	text-transform: uppercase;
   
}

#btn-mobile{
    
    display: flex;
    padding: .5rem 1rem
    font-size: 1rem;
    border:none;
    cursor: pointer;
    margin: 2rem 1rem;
    background-color: #4C3575;
    cursor: pointer;
    
}

#nav.active #menu {
  height: 80vw;
  visibility: visible;

}

#hamburger{
display: block;
border-top: 2px solid var(--white);
width: 20px;
cursor: pointer;

}

#hamburger::after , #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: var(--white);
    transition: .3s;
    position: relative;
}

#nav.active #hamburger{ 

    border-top-color: transparent;
 }

 #nav.active #hamburger::before{
    transform: rotate(135deg);
 }

 #nav.active #hamburger::after{
    transform: rotate(-135deg);
    top:-7px;

 }

 .chamada{ 
 	display: flex;
 	flex-wrap: wrap;
 	text-align: justify;
 	margin-top: -26.5rem;
 	margin-left: 1rem;
 	margin-right: 1rem;
 	padding: 1rem;
 	color: var(--white);
 	box-sizing: border-box;
    border: 2px solid var(--white);
    text-transform: uppercase;
    font-size: 44px;
    font-family: var(--font-j);

  }
 
 /* Sessão Principal */
 
 .principal{

 	display: flex;
 	flex-direction: column;
 }
 .principal_img{

 	margin-top: 18rem;
 	width: 90vw;
 	margin-left: 1rem;
 	
 }

 .principal_titulo{
 
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 25px;
  margin-left: 1rem;
  padding: 1rem;
  font-family: var(--font-j);

 }

 .principal_texto{
 	text-align: center;
 	margin-left: 3rem;
 	margin-right: 3rem;
 	color: var(--very-dark-gray);
 	font-size: 15px;
 	padding: 1rem;
 }

.principal_desktop{

	display: none;
}
 
/* Sessão Destaques */
 
 .destaques{

 	display: grid;
 	grid-template-columns: 100%;
 }

 .destaques_titulo{

 text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font-j);

 }

 .destques_img{

 	width: 100%;
 	margin-top: 1rem;
 }

 .destaques_texto{
 	margin-top: -5rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
 	width: 40%;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin-left: 1rem;

 }

 .destaques_texto_grid{
 	margin-top: -5rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
 	width: 20%;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin-left: 1rem;

 }

 .botao {

 	width: 40vw;
 	margin-top: 2rem;
 	padding: .5rem;
 	margin-left: 7rem;
 	text-transform: uppercase;
 	cursor: pointer;
 	background-color: var(--white);
 	font-family: var(--font-a);
 	letter-spacing: .5rem;
 }

/* Footer */
 
 footer{
 	margin-top: 5rem;
 	background-color: var(--black);
 	height: 85vh;

 }

 .footer_logo{

 	width: 40vw;
 	margin-top: 4rem;
 	margin-left: 7rem;
 }

 .nav_footer{

 	color: var(--white);
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	margin-top: 1rem;

 }

 .menu_footer li{

 	margin: 1rem;
 	cursor: pointer;

 }

 .redes_sociais{
 	
 	margin: 2rem 0 1rem 7rem;

 }

 .redes_sociais_img{
 	padding: .3rem;
 }

 .footer_texto{
 	color: var(--very-dark-gray);
 	font-family: var(--font-a);
 	margin-left: 3rem;

 	
 }

 .attribution { 
 	font-size: 11px; text-align: center; 
 }

 .attribution a { 
 	color: hsl(228, 45%, 44%); 
 }

 .destaques_desktop_titulo_botao{
 	display: none;
 }

 .destaques_desktop_primeiro{

 	display: none;
 }

 .destaques_desktop_segundo{
 	display: none;
 }

 .nome_foto_desktop{
 	display: none;
 }

@media only screen and  (min-width:1200px) {

	header{
	background: url(../images/desktop/image-hero.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
	
	
}

#header {
    
   
    width: 100%;
    display: flex;
    flex-direction: row;

   

    
}

.header_logo {
   margin: 6rem;
   width: 20vw;

}

#nav {
    text-align: center;

}

#menu{

    display: flex;
    overflow-x: hidden;
    visibility: visible;
    background: transparent;
    justify-content: flex-end;
    margin-top: 2rem;
    
   

}



#menu li{

	display: flex;
	width: 4rem;
	margin-top: 2rem;
	margin-right:3rem;
    font-size: 20px;
    color: var(--white);
    font-family: var(--font-j);

}

#menu a{

	text-transform: inherit;
}


#btn-mobile{
    
    display: none;
    
    
}

.chamada{ 
 	display: flex;
 	flex-wrap: wrap;
 	text-align: left;
 	margin-top: -30rem;
 	margin-left: 6rem;
 	margin-right: 1rem;
 	padding: 2rem;
 	color: var(--white);
 	box-sizing: border-box;
    border: 2px solid var(--white);
    text-transform: uppercase;
    font-size: 50px;
    font-family: var(--font-j);
    width: 35vw;

  }

  .principal{ 
  	display: none;
   }

   .principal_desktop{

   	display: inline;
   }

   .desktop_titulo_texto{

   	box-sizing: border-box;
    border: none;
    background-color: var(--white);
    position: absolute;
    margin-left: 35rem;
    margin-right: 12rem;
    padding: 2rem;
   

   }

   .desktop_principal{

   	display: flex;
   	align-items: flex-end;
   	margin-top: 15rem;
   	margin-left: 6rem;
   }

   .principal_titulo_desktop{

   font-family: var(--font-j);
   font-size: 35px;
   text-transform: uppercase;
   overflow-wrap: break-word;  
   word-wrap: break-word; 
   word-break: break-word;
   width: 100%;
   margin-bottom: 2rem;
   margin-top: 1rem;
   text-align: center;
   

   }

   .principal_texto_desktop{

   	text-align: left;
   	line-height: 1.5rem;
   	color: var(--dark-gray);
   	margin-left: 4rem;

   }

   .destaques{
   	display: none;
   }

   .destaques_desktop_titulo_botao{

   	display: flex;
   	align-items: center;
   	justify-content: space-between;
   	margin-top: 2rem;
   }

   .destaques_titulo{

	text-transform: uppercase;
	font-size: 35px;
	font-family: var(--font-j);
	margin-top: 3rem;
	margin-left: 6rem;

 }

 .botao{

 	width: 10vw;
 	text-transform: uppercase;
 	cursor: pointer;
 	background-color: var(--white);
 	font-family: var(--font-a);
 	letter-spacing: .5rem;
 	margin-right: 6rem;
 }

 
 .destaques_desktop_primeiro{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-left: 6rem;
 margin-right: 4rem;
 margin-top: 2rem;
 margin-bottom: 2rem;
	
}

.destaques_desktop_segundo{

	display: flex;
	align-items: center;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 4rem;
    margin-top: 4rem;
}

.destaques_texto_desktop{
 	
 	margin-top: -5rem;
 	color: var(--black);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
 	width: 40%;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    margin-left: 1rem;

}

.nome_foto_desktop{

	display: inherit;
}

.destaques_texto_grid_desktop{

	margin-top: -3rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 68rem;
}

.destaques_texto_desktop_deep{
 	margin-top: -8rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 8rem;

}

.destaques_texto_desktop_nigth{
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 28rem;
    margin-top: -3rem;
}
.destaques_texto_desktop_soccer{
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 48rem;
    margin-top: -3rem;
}

.destaques_texto_desktop_from{

	margin-top: -5rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 8rem;
}

.destaques_texto_desktop_pocket{
	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 28rem;
    margin-top: -3rem;

}

.destaques_texto_desktop_the{
  	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 48rem;
    margin-top: -3rem;

}

.destaques_texto_desktop_make{
 
    margin-top: -3rem;
 	color: var(--white);
 	text-transform: uppercase;
 	font-family: var(--font-j);
 	font-size: 25px;
    margin-left: 68rem;

}

footer{
 	margin-top: 10rem;
 	background-color: var(--black);
 	height: 30vh;

 }

 .footer_logo{

 	width: 15vw;
 	margin-top: 4rem;
 	margin-left: 7rem;
 }

 .nav_footer{

 	color: var(--white);
 	display: flex;
 	align-items: flex-start;
 	margin-top: 1rem;
 	margin-left: 6rem;

 }

 ul{
 	display: flex;

 }

 .menu_footer li{
 	display: flex;
 	margin: 1rem;
 	cursor: pointer;

 }

 .redes_sociais{
 	
 	margin-left: 70rem;
 	margin-top: -6rem;
 }

 .redes_sociais_img{
 	padding: .3rem;
 }

 .footer_texto{
 	color: var(--very-dark-gray);
 	font-family: var(--font-a);
 	margin-left: 61rem;

 	
 }

 .attribution { 
 	font-size: 15px; text-align: center; 
 }

 .attribution a { 
 	color: hsl(228, 45%, 44%); 
 }

}

@media only screen and  (min-width:1440px){

	header{
		background: url(../images/desktop/image-hero.jpg);
		background-size: 100vw;
		background-repeat: no-repeat;
		
		
	}
	
	#header {
		
	   
		width: 100%;
		display: flex;
		flex-direction: row;
	
	   
	
		
	}
	
	.header_logo {
	   margin: 6rem;
	   width: 20vw;
	
	}
	
	#nav {
		text-align: center;
	
	}
	
	#menu{
	
		display: flex;
		overflow-x: hidden;
		visibility: visible;
		background: transparent;
		justify-content: flex-end;
		margin-top: 2rem;
		
	   
	
	}
	
	
	
	#menu li{
	
		display: flex;
		width: 4rem;
		margin-top: 2rem;
		margin-right:3rem;
		font-size: 20px;
		color: var(--white);
		font-family: var(--font-j);
	
	}
	
	#menu a{
	
		text-transform: inherit;
	}
	
	
	#btn-mobile{
		
		display: none;
		
		
	}
	
	.chamada{ 
		 display: flex;
		 flex-wrap: wrap;
		 text-align: left;
		 margin-top: -40rem;
		 margin-left: 6rem;
		 margin-right: 1rem;
		 padding: 2rem;
		 color: var(--white);
		 box-sizing: border-box;
		border: 2px solid var(--white);
		text-transform: uppercase;
		font-size: 50px;
		font-family: var(--font-j);
		width: 35vw;
	
	  }
	
	  .principal{ 
		  display: none;
	   }
	
	   .principal_desktop{
	
		   display: inline;
	   }
	
	   .desktop_titulo_texto{
	
		box-sizing: border-box;
		border: none;
		background-color: var(--white);
		position: absolute;
		margin-left: 35rem;
		margin-right: 12rem;
		padding: 2rem;
	   
	
	   }
	
	   .desktop_principal{
	
		   display: flex;
		   align-items: flex-end;
		   margin-top: 15rem;
		   margin-left: 6rem;
	   }
	
	   .principal_titulo_desktop{
	
	   font-family: var(--font-j);
	   font-size: 35px;
	   text-transform: uppercase;
	   overflow-wrap: break-word;  
	   word-wrap: break-word; 
	   word-break: break-word;
	   width: 100%;
	   margin-bottom: 2rem;
	   margin-top: 1rem;
	   text-align: center;
	   
	
	   }
	
	   .principal_texto_desktop{
	
		   text-align: left;
		   line-height: 1.5rem;
		   color: var(--dark-gray);
		   margin-left: 4rem;
	
	   }
	
	   .destaques{
		   display: none;
	   }
	
	   .destaques_desktop_titulo_botao{
	
		   display: flex;
		   align-items: center;
		   justify-content: space-between;
		   margin-top: 2rem;
	   }
	
	   .destaques_titulo{
	
		text-transform: uppercase;
		font-size: 35px;
		font-family: var(--font-j);
		margin-top: 3rem;
		margin-left: 6rem;
	
	 }
	
	 .botao{
	
		 width: 10vw;
		 text-transform: uppercase;
		 cursor: pointer;
		 background-color: var(--white);
		 font-family: var(--font-a);
		 letter-spacing: .5rem;
		 margin-right: 6rem;
	 }
	
	 
	 .destaques_desktop_primeiro{
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 margin-left: 6rem;
	 margin-right: 4rem;
	 margin-top: 2rem;
	 margin-bottom: 2rem;
		
	}
	
	.destaques_desktop_segundo{
	
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 6rem;
		margin-right: 4rem;
		margin-top: 4rem;
	}
	
	.destaques_texto_desktop{
		 
		 margin-top: -5rem;
		 color: var(--black);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		 width: 40%;
		overflow-wrap: break-word;  
		word-wrap: break-word; 
		word-break: break-word;
		margin-left: 1rem;
	
	}
	
	.nome_foto_desktop{
	
		display: inherit;
	}
	
	.destaques_texto_grid_desktop{
	
		margin-top: -3rem;
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 74rem;
	}
	
	.destaques_texto_desktop_deep{
		 margin-top: -8rem;
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 10rem;
	
	}
	
	.destaques_texto_desktop_nigth{
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 30rem;
		margin-top: -3rem;
	}
	.destaques_texto_desktop_soccer{
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 52rem;
		margin-top: -3rem;
	}
	
	.destaques_texto_desktop_from{
	
		margin-top: -5rem;
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 9rem;
	}
	
	.destaques_texto_desktop_pocket{
		color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 30rem;
		margin-top: -3rem;
	
	}
	
	.destaques_texto_desktop_the{
		  color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 52rem;
		margin-top: -3rem;
	
	}
	
	.destaques_texto_desktop_make{
	 
		margin-top: -3rem;
		 color: var(--white);
		 text-transform: uppercase;
		 font-family: var(--font-j);
		 font-size: 25px;
		margin-left: 72rem;
	
	}
	
	footer{
		 margin-top: 10rem;
		 background-color: var(--black);
		 height: 30vh;
	
	 }
	
	 .footer_logo{
	
		 width: 15vw;
		 margin-top: 4rem;
		 margin-left: 7rem;
	 }
	
	 .nav_footer{
	
		 color: var(--white);
		 display: flex;
		 align-items: flex-start;
		 margin-top: 1rem;
		 margin-left: 6rem;
	
	 }
	
	 ul{
		 display: flex;
	
	 }
	
	 .menu_footer li{
		 display: flex;
		 margin: 1rem;
		 cursor: pointer;
	
	 }
	
	 .redes_sociais{
		 
		 margin-left: 70rem;
		 margin-top: -6rem;
	 }
	
	 .redes_sociais_img{
		 padding: .3rem;
	 }
	
	 .footer_texto{
		 color: var(--very-dark-gray);
		 font-family: var(--font-a);
		 margin-left: 61rem;
	
		 
	 }
	
	 .attribution { 
		 font-size: 15px; text-align: center; 
	 }
	
	 .attribution a { 
		 color: hsl(228, 45%, 44%); 
	 }
	

}